<%- model_class = Issue -%>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <ul class="list-inline">

      <li class="<%=params[:status] == 'open' || params[:status].nil?  ? 'active small' : 'small'%>">
        <%=link_to url_for(status:'open') do %>
            Open (<%=@all_opened_issues.count%>)
        <%end%>
      </li>

      <li class="<%=params[:status] == 'close' ? 'active small' : 'small'%>">
        <%=link_to url_for(status:'close') do %>
            Close (<%=@all_closed_issues.count%>)
        <%end%>
      </li>

      <li class="<%=params[:status] == 'all' ? 'active small' : 'small'%>">
        <%=link_to url_for(status:'all') do %>
            All (<%=@all_issues.count%>)
        <%end%>
      </li>
    </ul>

  </div>

  <table class="table table-striped table-condensed">
    <tbody>
    <% @issues.each do |issue| %>
        <%
           String css_class = "success"
           if issue.status == STATUS[1]
             css_class = "danger"
           end
        %>
        <tr>

          <td style="width: 70px;">
            <%if issue.status == STATUS[0]%>
                <span style="padding: 7px 0;" class="label label-success center-block small">OPEN</span>
            <%else%>
                <span style="padding: 7px 0;" class="label label-danger center-block small">CLOSED</span>
            <%end%>
          </td>

          <td>
            <div class="row">
              <div class="col-md-12">
                <b><%=link_to issue.title, issue_path(issue) %></b>
                <% issue.labels.each do |label| %>
                    <span class="label" style="background-color: <%=label.color%>"><%=label.title%></span>
                <%end%>
                <div class="pull-right text-muted">
                  #<%=issue.id%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-muted"><small>
                  Opened by <b><%=issue.user.username%></b>,
                  the <%=l issue.created_at, format: :usual_date%>,
                  <%=issue.comments.count%> comments
                </small></p>
              </div>
            </div>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>