<% if @issue.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@issue.errors.count, "error") %> prohibited
        this issue from being saved:</b>
      <ul>
        <% @issue.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @issue, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :title, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <% if @issue.project %>
        <%=f.hidden_field :project_id%>
    <% else %>
        <div class="form-group">
          <%= f.label :project, :class => 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%=collection_select(:issue, :project_id, current_user.projects, :id, :title, {}, {:class=>'form-control'})%>
          </div>
        </div>
    <% end %>

    <% if @issue.milestone %>
        <%=f.hidden_field :milestone_id%>
    <% else %>
        <div class="form-group">
          <%= f.label :milestone, :class => 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%=collection_select(:issue, :milestone_id, @issue.project.milestones, :id, :title, {}, {:class=>'form-control'})%>
          </div>
        </div>
    <%end%>

    <div class="form-group">
      <%= f.label :labels, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.collection_check_boxes :label_ids, @issue.project.labels, :id, :title, :class => 'form-control' do |b|%>
            <div class="checkbox">
              <label>
                <%=b.check_box%>
                <%=b.text%>
              </label>
            </div>
        <%end%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <p class="text-right">
          I'm a
          <a data-toggle="modal" href="#markdownHelper" class="">
            markdown editor
          </a>
        </p>
        <%= f.text_area :body, :class => 'form-control', :rows => '10' %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <% if @issue.id? %>
            <%= link_to t("helpers.actions.cancel"), issue_path(@issue), :class => 'btn btn-default' %>
        <%else%>
            <%= link_to t("helpers.actions.cancel"), project_path(@issue.project), :class => 'btn btn-default' %>
        <%end%>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>

<%= render 'shared/markdown_helper' %>
