<% if @issue.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@issue.errors.count, "error") %> prohibited
        this issue from being saved:</b>
      <ul>
        <% @issue.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @issue, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :title, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <% if @issue.project %>
        <%=f.hidden_field :project_id%>
    <% else %>
        <div class="form-group">
          <%= f.label :project, :class => 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%=collection_select(:issue, :project_id, current_user.projects, :id, :title, {}, {:class=>'form-control'})%>
          </div>
        </div>
    <% end %>

    <% if @issue.milestone %>
        <%=f.hidden_field :milestone_id%>
    <% else %>
        <div class="form-group">
          <%= f.label :milestone, :class => 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%=collection_select(:issue, :milestone_id, Milestone.all, :id, :title, {}, {:class=>'form-control'})%>
          </div>
        </div>
    <%end%>

    <div class="form-group">
      <%= f.label :labels, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.collection_check_boxes :label_ids, @issue.project.labels, :id, :title, :class => 'form-control' do |b|%>
            <div class="checkbox">
              <label>
                <%=b.check_box%>
                <%=b.text%>
              </label>
            </div>
        <%end%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <p class="text-right">
          I'm a
          <a data-toggle="modal" href="#markdownHelper" class="">
            markdown editor
          </a>
        </p>
        <%= f.text_area :body, :class => 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= link_to t("helpers.actions.cancel"), issues_path, :class => 'btn btn-default' %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>

<!-- Modal :markdown helper -->
<div class="modal fade" id="markdownHelper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Markdown Cheatsheet</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <h5>Format text</h5>
            <small>Headers</small>
            <div class="well small">
              <ul class="list-unstyled">
                <li># This is a &lt;h1&gt;</li>
                <li>## This is a &lt;h2&gt;</li>
                <li>###### This is a &lt;h6&gt;</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h5>List</h5>
            <small>Unordered</small>
            <div class="well small">
              <ul class="list-unstyled">
                <li>* item 1</li>
                <li>* item 2</li>
                <li>&nbsp;&nbsp;&nbsp;* item 2a</li>
                <li>&nbsp;&nbsp;&nbsp;* item 2b</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h5>Miscellaneous</h5>
            <small>Links</small>
            <div class="well small">
              <ul class="list-unstyled">
                <li>[Google](http://www.google.com)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


