<%- model_class = Issue -%>
<div class="page-header">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default">Actions</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><%= link_to t('helpers.links.back'), issues_path, :class => 'btn btn-link'  %></li>
        <li><%= link_to t('helpers.links.edit'), edit_issue_path(@issue), :class => 'btn btn-link' %></li>
        <li><%= link_to t('helpers.links.destroy'),
                    issue_path(@issue),
                    :method => 'delete',
                    :data => { :confirm => t('helpers.links.confirm', :default => 'Are you sure?') },
                    :class => 'btn btn-link' %></li>
    </ul>
  </div>

  <h3>
    <%=@issue.project.title%> - <%=model_class.model_name.human.titleize %> #<%=@issue.id%> - <%=@issue.milestone.title%>
  </h3>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%=@issue.title%><br/>
          <small style="color: #ffffff"><%=@issue.user.email%> openened this issue the <%=@issue.created_at%></small>
        </h3>
      </div>
      <div class="panel-body">
        <%=@issue.body%>
      </div>
    </div>


    <% @issue.comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <small><%=comment.user.email%> commented this issue the <%=@issue.created_at%></small>
            </h3>
          </div>
          <div class="panel-body">
            <%=comment.body%>
          </div>
        </div>
    <%end%>

    <%= form_for([@issue, @issue.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.text_area :body, :class => 'form-control', :placeholder => 'Add your comment here' %>
        </div>

        <div class="form-group pull-right">
          <%= f.submit nil, :class => 'btn btn-default' %>
          <% if @issue.status == STATUS[0]%>
              <%=link_to 'Close', close_issue_path(@issue), :class => 'btn btn-danger'%>
          <%else%>
              <%=link_to 'Reopen', reopen_issue_path(@issue), :class => 'btn btn-success'%>
          <%end%>

        </div>
    <% end %>
  </div>

  <div class="col-md-1">
    <div class="row">
        <%if @issue.status == STATUS[0]%>
            <span style="padding: 7px 0;" class="label label-success center-block">OPEN</span>
        <%else%>
            <span style="padding: 7px 0;" class="label label-danger center-block">CLOSED</span>
        <%end%>
        <p class="text-center"><%=@issue.comments.count%> comments</p>
        <hr/>
        <b>Labels</b><br/>
        <%@issue.tag_list.each do |tag|%>
          <%= tag %>
        <% end %>
        <br/>
        <b>Milestone</b>
        <%=@issue.milestone.title%>

    </div>
  </div>
</div>


