    <%- model_class = Issue -%>
<% content_for :title, "Issue" + @issue.title %>
<div class="row">
  <div class="col-md-12">
    <small>
      <%=link_to milestone_path(@issue.milestone) do %>
          <i class="glyphicon glyphicon-arrow-left"></i>
          Back to issues list
      <%end%>
      <div class="pull-right"><%=link_to t('issues.new.title'), new_issue_path(project_id: @issue.project.id, milestone_id: @issue.milestone.id), :class => 'btn btn-success btn-xs'%></div>
    </small>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%=link_to @issue.project.title, project_path(@issue.project)%></li>
      <li><%=link_to @issue.milestone.title, milestone_path(@issue.milestone)%></li>
      <li class="active"><%=@issue.title%></li>

    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="pull-right">
          <% if can? :update, @issue %>
              <%=link_to edit_issue_path(@issue), :class => 'small' do %>
                  <i class="glyphicon glyphicon-edit"></i>
              <%end%>
          <%end%>

          <% if can? :destroy, @issue %>
              <%= link_to issue_path(@issue),
                          :method => 'delete',
                          :data => { :confirm => t('helpers.actions.confirm') },
                          :class => 'small' do %>
                  <i class="glyphicon glyphicon-trash"></i>
              <%end %>
          <%end%>
        </div>

        <h3 class="panel-title">
          <%=@issue.title%><br/>
          <small>Opened by <b><%=@issue.user.username%></b>, the <%=l @issue.created_at, format: :usual_date%></small>
        </h3>
      </div>
      <div class="panel-body">
        <%= markdown(@issue.body) %>
      </div>
    </div>


    <% @issue.comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <% if can? :update, comment %>
                <span class="pull-right">
                  <a href="#" class="small" onclick="editComment(<%=comment.id%>);">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <%= link_to [comment.issue, comment],
                              :method => 'delete',
                              :data => { :confirm => t('helpers.actions.confirm') },
                              :class => 'small' do %>
                    <i class="glyphicon glyphicon-trash"></i>
                  <%end%>
                </span>
              <%end%>
              <small>Commented by <b><%=comment.user.username%></b>, the <%=l @issue.created_at, format: :usual_date%></small>
            </h3>
          </div>
          <div class="panel-body">
            <div id="comment-<%=comment.id%>">
              <%= markdown(comment.body) %>
            </div>
            <div class="invisible" id="edit-comment-<%=comment.id%>">
              <%= form_for ([@issue, comment]) do |f| %>
                  <div class="form-group">
                    <%= f.text_area :body, :class => 'form-control' %>
                  </div>

                  <div class="form-group pull-right">
                    <a class="btn btn-default" href="#" onclick="cancelComment(<%=comment.id%>)">Cancel</a>
                    <%= f.submit 'Update', :class => 'btn btn-primary' %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <%end%>

    <%= form_for([@issue, @issue.comments.build]) do |f| %>
        <div class="form-group">
          <p class="text-right">
            I'm a
            <a data-toggle="modal" href="#markdownHelper" class="">
              markdown editor
            </a>
          </p>
          <%= f.text_area :body, :class => 'form-control', :placeholder => 'Add your comment here' %>
        </div>

        <div class="form-group pull-right">
          <%= f.submit 'Post', :class => 'btn btn-default' %>
          <% if @issue.status == STATUS[0]%>
              <%=link_to 'Close', close_issue_path(@issue), :class => 'btn btn-danger'%>
          <%else%>
              <%=link_to 'Reopen', reopen_issue_path(@issue), :class => 'btn btn-success'%>
          <%end%>

        </div>
    <% end %>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <%if @issue.status == STATUS[0]%>
            <span style="padding: 7px 0;" class="label label-success center-block">OPEN</span>
        <%else%>
            <span style="padding: 7px 0;" class="label label-danger center-block">CLOSED</span>
        <%end%>
        <p><small><b><%=@issue.comments.count%></b> comments</small></p>
        <hr/>
        <b>Labels</b><br/>
        <ul class="list-unstyled">
          <%@issue.labels.each do |label|%>
              <li><span class="label" style="background-color: <%=label.color%>"><%=label.title%></span></li>
          <% end %>
        </ul>
        <b>Milestone</b><br/>
        <%=link_to @issue.milestone.title, milestone_path(@issue.milestone)%>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/markdown_helper' %>


<script>
    function editComment(commentId){
        var dvComment = $("#comment-"+commentId);
        dvComment.addClass("invisible");
        var dvEditComment = $("#edit-comment-"+commentId);
        dvEditComment.removeClass("invisible");
    }

    function cancelComment(commentId){
        var dvEditComment = $("#edit-comment-"+commentId);
        dvEditComment.addClass("invisible");
        var dvComment = $("#comment-"+commentId);
        dvComment.removeClass("invisible");

    }
</script>